<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.msj.product.mapper.ProductImageCustomMapper">
  <resultMap id="BaseResultMap" type="com.msj.common.entity.ProductImage">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="image" jdbcType="VARCHAR" property="image" />
  </resultMap>
  <sql id="Base_Column_List">
    id, product_id, image
  </sql>
  <insert id="batchInsert">
    INSERT INTO product_image(product_id, image) VALUES
    <foreach collection="list" item="item" index="index" separator=",">
      (#{item.productId}, #{item.image})
    </foreach>
  </insert>
</mapper>